body{
    margin: 0;
    padding: 0;
    background-color: #dedede;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em calc((100vw - 1280px)/2);
    background-color: #122e48;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    display: block;
    font-size: 1.1em;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background: #436446;
}

main{
    width: 1280px;
    margin: 0 auto;   
    background-color: #1a1b26;
    padding: 20px 50px;
    box-sizing: border-box;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul a{
    background-color: #1f2429;
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 3px;
    color: yellow;
}

nav ul a:hover{
   filter: brightness(1.3);
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th, td{
    padding: 6px 10px;    
}

table th{
    background-color: #122e48; 
    text-align: left;   
}

table tbody tr:nth-child(odd){
    background-color: #000000;
}

table td a{
    text-decoration: none;
    color: yellow;
}

form > div{
    margin-bottom: 8px;
    display: flex;
    gap: 5px;
}

form > div > label{
    width: 130px;
}

form > div > label + *{
    box-sizing: border-box;
    width: 400px;
    padding: 6px 10px;
    border: 1px solid #aaa;
}

.buttons{
    padding-left: 135px;
}

.buttons button{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

button[type="submit"]{
    background-color: #436446;
    color: white;
}

button[type="button"]{
    background-color: #435264;
    color: white;
}